@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 246, 244, 240;
  --background-rgb: 62, 62, 70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 246, 244, 240;
    --background-rgb: 62, 62, 70;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
